header{

background-image: url(../imgs/logo2.jpeg);
border: 2px solid #fecf38;
border-left:3px groove black;
border-right:3px groove black;
border-top:3px solid whitesmoke;
border-bottom: 3px solid whitesmoke;
margin:0 auto;
width:580px;
height:350px;


}

header:hover{
background-image: url(../imgs/logo.jpg);
border-bottom: 3px solid black;
border-top: 3px solid black;
width:580px;
height:350px;

}

header:hover .titleHead {
    display:none;
}

.topHead{
background-color:#fecf38;
border-bottom:2px solid #0065b1;


}

.titleHead{
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    text-align:right;
    bottom:0;
    right:0;
    margin: 200px 0 0 0;
    padding:5px 10px;
    
}


    
body {
    
    background-color: #0065b1;
    padding:0;
    margin:0;

}



.container {
    background-color:#00acc9;
    border:3px solid #00acc9;;
    margin:30px 20px 0px 20px;

}

.container .elaine{
border:3px groove white;
border-left:3px groove #0065b1;
border-right:3px groove #0065b1;
float:right;
margin:0px 120px 0px 0px ;




}

.grid-container{
    background-color:#00acc9;
    box-sizing:border-box;
    max-width:100%;
    max-height: 100%;
    margin:0 20px 0 20px;
    padding:20px;
    
    
}


.scoreBox{
    background-color:whitesmoke;
    border-left:3px groove #0065b1;
    border-right:3px groove #0065b1;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    float:left;
    margin:0px 0px 5px 120px;
    padding:20px 0px -5px 0;
    text-align:center;
    height:300px;
    width:200px;
    
}

.inputDash{
    background-color:#fecf38;
    border-left:3px groove black;
    border-right:3px groove black;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 80px;
    margin:0 auto;
    text-align:center;
    height:300px;
    padding:25px 0 0 0;
    width:50%;
    



}
.rightGuess{
    background-color:#fecf38;
    border-left:3px groove black;
    border-right:3px groove black;
    color:#f21f2b;
    float:right;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    font-weight: bold;
    margin:0 25% 0 0;
    padding:5px 0;
    text-align:center;
    height:100px;
    width:20%;
    



}
.wrongGuess{
    background-color:#fecf38;
    border-left:3px groove black;
    border-right:3px groove black;
    color:#f21f2b;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    font-weight: bold;
    margin:0 0 0 25%;
    padding:5px 0;
    text-align:center;
    height:100px;
    width:20%;
    
}



footer {
    background-color:#fecf38;
    bottom:0;
    color:#f21f2b;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:12px;
    font-weight:bold;
    height:25px;
    margin:10 auto;
    padding:5px 0 5px 0 ;
    text-align:center;
    position:fixed;
    width:100%;

}

.footerWord
{
   background-color: #fecf38;
   
   padding:5px 0px;
   
   

}








